<%= form_for(@werk) do |f| %>
  <% if @werk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@werk.errors.count, "error") %> prohibited this werk from being saved:</h2>

      <ul>
      <% @werk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :url %>
      <%= f.url_field :url %>
    </li>      
    <li>
      <%= f.label "any other information" %>
      <%= f.text_area :info, size: "60x12" %>
    </li>
  </ul>      

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
